{
  "files.eol": "\n",
  "files.endOfLine": "lf",
  "files.encoding": "utf8",
  "editor.defaultFormatter": null,
  "editor.formatOnSave": false,
  "editor.tabSize": 2,
  "editor.insertSpaces": true,
  "editor.trimAutoWhitespace": true,
  "git.ignoreLimitWarning": true,
  "search.exclude": {
    "node_modules": true,
    "dist": true,
    "build": true,
    "coverage": true,
    ".git": true
  }
}
